<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.alejandro.test" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="AprendeTest"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.test.alejandro.test.MyActivity"
            android:label="AprendeTest" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.test.alejandro.test.Activity_Estudiar"
            android:label="@string/title_activity_activity__estudiar"
            android:parentActivityName="com.test.alejandro.test.MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.test.alejandro.test.MyActivity" />
        </activity>
        <activity
            android:name="com.test.alejandro.test.ActivityLoadingListarTest"
            android:label="@string/title_activity_activity_async_listar_test"
            android:parentActivityName="com.test.alejandro.test.MyActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.test.alejandro.test.MyActivity" />
        </activity>
        <activity
            android:name="com.test.alejandro.test.realizarTest"
            android:label="@string/title_activity_realizar_test"
            android:parentActivityName="com.test.alejandro.test.Activity_Estudiar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.test.alejandro.test.Activity_Estudiar" />
        </activity>
    </application>

</manifest>
